packages: [
  "atom-beautify"
  "atom-ide-ui"
  "atom-material-ui"
  "busy-signal"
  "color-picker"
  "docblockr"
  "file-icons"
  "highlight-selected"
  "ide-typescript"
  "intentions"
  "language-babel"
  "language-diff"
  "language-docker"
  "language-generic-config"
  "language-groovy"
  "language-rust"
  "language-systemd"
  "language-viml"
  "linter"
  "linter-eslint"
  "linter-js-yaml"
  "linter-jsonlint"
  "linter-less"
  "linter-markdown"
  "linter-stylelint"
  "linter-ui-default"
  "markdown-preview-enhanced"
  "minimap"
  "minimap-git-diff"
  "minimap-highlight-selected"
  "minimap-pigments"
  "nord-atom-syntax"
  "nord-atom-ui"
  "package-sync"
  "pigments"
  "prettier-atom"
  "project-folder"
]
