# Copyright (C) 2016-present Arctic Ice Studio <development@arcticicestudio.com>
# Copyright (C) 2016-present Sven Greb <development@svengreb.de>

# Project:    igloo
# Repository: https://github.com/arcticicestudio/igloo
# License:    MIT
# References:
#   https://github.com/t9md/atom-project-folder#config

groups:
  "AUR": [
    "~/yggdrasil/aur/mqttfx-bin"
    "~/yggdrasil/aur/nord-emacs"
    "~/yggdrasil/aur/nord-gedit"
    "~/yggdrasil/aur/nord-konsole"
    "~/yggdrasil/aur/nord-tilix"
    "~/yggdrasil/aur/nord-vim"
    "~/yggdrasil/aur/nord-vim-airline"
    "~/yggdrasil/aur/nord-vim-lightline"
    "~/yggdrasil/aur/nord-xfce-terminal"
  ]
  "communikey": [
    "~/code/github/repositories/communicode/communikey-backend"
    "~/code/github/repositories/communicode/communikey-docs"
    "~/code/github/repositories/communicode/communikey-frontend"
  ]
  "IceCore": [
    "~/yggdrasil/icecore/icecore-hashids"
    "~/yggdrasil/icecore/icecore-json"
    "~/yggdrasil/icecore/icecore-strman"
  ]
  "Lumio": [
    "~/yggdrasil/lumio/lumio"
    "~/yggdrasil/lumio/lumio-java"
  ]
  "music-playlists": [
    "~/music/playlists"
  ]
  "Nord": [
    "~/yggdrasil/nord/nord"
    "~/yggdrasil/nord/nord-alacritty"
    "~/yggdrasil/nord/nord-atom-syntax"
    "~/yggdrasil/nord/nord-atom-ui"
    "~/yggdrasil/nord/nord-brackets"
    "~/yggdrasil/nord/nord-coda"
    "~/yggdrasil/nord/nord-conemu"
    "~/yggdrasil/nord/nord-dircolors"
    "~/yggdrasil/nord/nord-eclipse-syntax"
    "~/yggdrasil/nord/nord-emacs"
    "~/yggdrasil/nord/nord-gedit"
    "~/yggdrasil/nord/nord-gnome-terminal"
    "~/yggdrasil/nord/nord-guake"
    "~/yggdrasil/nord/nord-highlightjs"
    "~/yggdrasil/nord/nord-hyper"
    "~/yggdrasil/nord/nord-iterm2"
    "~/yggdrasil/nord/nord-java"
    "~/yggdrasil/nord/nord-jetbrains-editor"
    "~/yggdrasil/nord/nord-konsole"
    "~/yggdrasil/nord/nord-mintty"
    "~/yggdrasil/nord/nord-notepadplusplus"
    "~/yggdrasil/nord/nord-putty"
    "~/yggdrasil/nord/nord-slack"
    "~/yggdrasil/nord/nord-sublime-text"
    "~/yggdrasil/nord/nord-terminal-app"
    "~/yggdrasil/nord/nord-terminator"
    "~/yggdrasil/nord/nord-termite"
    "~/yggdrasil/nord/nord-tilix"
    "~/yggdrasil/nord/nord-tmux"
    "~/yggdrasil/nord/nord-vim"
    "~/yggdrasil/nord/nord-visual-studio-code"
    "~/yggdrasil/nord/nord-xcode"
    "~/yggdrasil/nord/nord-xfce-terminal"
    "~/yggdrasil/nord/nord-xresources"
  ]
  "Northem": [
    "~/yggdrasil/northem/northem/northem"
    "~/yggdrasil/northem/northem/northem-atom-syntax"
    "~/yggdrasil/northem/northem/northem-atom-ui"
    "~/yggdrasil/northem/northem/northem-dark"
    "~/yggdrasil/northem/northem/northem-dark-atom-syntax"
    "~/yggdrasil/northem/northem/northem-dark-atom-ui"
    "~/yggdrasil/northem/northem/northem-dark-eclipse-syntax"
    "~/yggdrasil/northem/northem/northem-dark-gedit-syntax"
    "~/yggdrasil/northem/northem/northem-dark-intellij-idea-syntax"
    "~/yggdrasil/northem/northem/northem-dark-java"
    "~/yggdrasil/northem/northem/northem-dark-notepadplusplus-syntax"
    "~/yggdrasil/northem/northem/northem-eclipse-syntax"
    "~/yggdrasil/northem/northem/northem-gedit-syntax"
    "~/yggdrasil/northem/northem/northem-intellij-idea-syntax"
    "~/yggdrasil/northem/northem/northem-java"
    "~/yggdrasil/northem/northem/northem-light"
    "~/yggdrasil/northem/northem/northem-light-atom-syntax"
    "~/yggdrasil/northem/northem/northem-light-atom-ui"
    "~/yggdrasil/northem/northem/northem-light-eclipse-syntax"
    "~/yggdrasil/northem/northem/northem-light-gedit-syntax"
    "~/yggdrasil/northem/northem/northem-light-intellij-idea-syntax"
    "~/yggdrasil/northem/northem/northem-light-java"
    "~/yggdrasil/northem/northem/northem-light-notepadplusplus-syntax"
    "~/yggdrasil/northem/northem/northem-notepadplusplus-syntax"
  ]
  "NPM": [
    "~/yggdrasil/npm/gitstick"
    "~/yggdrasil/npm/styled-modern-normalize"
  ]
  "scratchpad": [
    "~/documents/scratchpad"
  ]
  "snippetbox": [
    "~/code/snippetbox"
  ]
  "snowsaw": [
    "~/yggdrasil/snowsaw"
  ]
  "styleguide": [
    "~/yggdrasil/styleguide/eslint-config-arcticicestudio"
    "~/yggdrasil/styleguide/eslint-config-arcticicestudio-base"
    "~/yggdrasil/styleguide/remark-preset-lint-arcticicestudio"
    "~/yggdrasil/styleguide/styleguide"
    "~/yggdrasil/styleguide/styleguide-git"
    "~/yggdrasil/styleguide/styleguide-java"
    "~/yggdrasil/styleguide/styleguide-javascript"
    "~/yggdrasil/styleguide/styleguide-markdown"
  ]
  "videos-playlists": [
    "~/videos/playlists"
  ]
