[Desktop Entry]
Name=KeePassXC
Exec=env QT_QPA_PLATFORMTHEME=gtk2 keepassxc %f
Icon=keepassxc
StartupWMClass=keepassxc
Terminal=false
Type=Application
Version=1.0
MimeType=application/x-keepass2;
