# Copyright (C) 2016-present Arctic Ice Studio <development@arcticicestudio.com>
# Copyright (C) 2016-present Sven Greb <development@svengreb.de>

# Project:    igloo
# Repository: https://github.com/arcticicestudio/igloo
# License:    MIT
# References:
#   https://pypi.org/project/pip
#   https://packaging.python.org/tutorials/installing-packages/#requirements-files
#   https://pip.pypa.io/en/latest/reference/pip_install/#requirements-file-format
#   https://pip.pypa.io/en/stable/user_guide/#config-file

# +------+
# + Core +
# +------+

# The base tool to create isolated Python environments.
virtualenv

# +------+
# + Apps +
# +------+

# Required by the custom hooks of the "taskwarrior" snowblock to interact with Taskwarrior API.
# See https://github.com/arcticicestudio/igloo/tree/master/snowblocks/taskwarrior for details.
taskw
